/* ============================================= */
/*              Buttons                          */
/* ============================================= */

%btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  &:hover {
    color: $color-secondary-light;
    opacity: 0.8;
  }
  &:active {
    opacity: initial;
  }
}

.btn {
  @include button($color-buttons){
    @extend %btn;
  }
}

