@mixin flexy(
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null) {
    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
  }

  @mixin themes($map) {
      @each $theme, $color in $map {
          &.#{$theme} {
              background-color: $color;
          }
      }
  }

  @mixin buttons($map) {
      @each $button, $color in $map {
          &.#{$button} {
              background-color: $color;
              &:hover {
                  background-color: lighten($color, 15%);
                  opacity: 0.8;
              }
              &:active {
                  opacity: initial;
              }
          }
      }
  }